.button{
	background: #DE0111;
	border-radius: 5px;	
	@include font-style;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	&:hover{
		background: #BD000E;
	}
	&__frame{
		width: 128px;
		height: 33px;
	}
	&__banner1{
		width: 315px;
		height: 48px;
		position: relative;
		z-index: 2;
	}
	&__slider{
		width: 180px;
		height: 42px;
	}
	&__technologies{
		width: 210px;
		height: 48px;
		margin: 20px 0px 0px 0px;
	}
	&__video{
		width: 420px;
		height: 48px;
		background: #345995;
		margin: 30px 0px 0px 0px;
		&:hover{
			background: #1D427D;
		}
	}
	&__mikea{
		width: 210px;
		height: 46px;
	}
	&__mikea1{
		width: 210px;
		height: 48px;
		background: #345995;
		&:hover{
			background: #1D427D;
		}
	}
	&__timing1{
		width: 278px;
		height: 48px;
		margin: 0px 20px 0px 0px;
	}
	&__timing2{
		width: 200px;
		height: 48px;
		background: #345995;
		&:hover{
			background: #1D427D;
		}
	}
	&__details{
		height: 48px;
		width: 261px;
		padding: 12px 0px 0px 0px;
		span{
			margin: 0px 0px 0px 7px;
		}
	}
	&__orderframe{
		height: 48px;
		width: 230px;
	}
	&__mainform{
		height: 50px;
		width: 280px;
		margin: 20px 0px 0px 0px;
	}
	&__projects{
		width: 190px;
		height: 48px;
		background: #345995;
		&:hover{
			background: #1D427D;
		}
	}
}
.button__mortgage{
		width: 398px;
		height: 50px;
		background: #CD2B24;
}
.button__rent-red{
	height: 48px;
	width: 266px;
	margin: 0px 20px 0px 0px;
}
.button__rent-blue{
	height: 48px;
	width: 184px;
	background: #345995;
	&:hover{
		background: #1D427D;
	}
}

//========================================================>
@media (max-width: 376px){
	.button{
		&__banner1{
			width: 310px;
			display: inline-block;
			margin: 0px auto 0;
		}
	}
}
@media (max-width: 374px){
	.button{
		&__banner1{
			width: 260px;
		}
	}
}

@media (max-width: 767px){
	.button{
&__slider{
	width: 310px;
	height: 44px;
	display: inline-block;
	margin: 28px auto 28px;
}
}
}
@media (max-width: 619px){
	.button{
		&__technologies{
			width: 310px;
			height: 46px;
			display: inline-block;
			margin: 20px 0px 0px 20px;
		}
	}
}
@media (max-width: 477px){
	.button{
		&__video{
			width: 310px;
			height: 70px;
			display: inline-block;
			margin: 40px 0px 0px 0px;
		}
	}
}