
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "null.scss";
@import "mixins.scss";
@import "header.scss";
@import "burger.scss";

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
	 background-color: #f5f5f5;
	 position: relative;
}

.container {
	max-width: 1370px;
   margin: 0 auto;
	padding: 0px 15px 0px 15px;
}

.block{
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.08);
	border-radius: 6px;
}
//========================================================>
.title{
	@include font-style;
	font-weight: 700;
	font-size: 50px;
	color: #3D3D3D;
	margin: 0px 30px 0px 0px;
	//width: 100%;
}
.subtitle{
	@include font-style;
	font-weight: 700;
	font-size: 28px;
	line-height: 135%;
	color: #8C8C8C;
}


.popup{
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.768);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	&__body{
		position: relative;
	}
	&__close{
		color:grey;
		position: absolute;
		top: -25px;
		left: 100%;
		font-size: 24px;
		font-weight: bold;
		cursor: pointer;
		&:hover{
			opacity: 0.5;
		}
	}
}
.popup.active{
	display: flex;
}


@media (max-width: 1030px){
	.title{
		font-size: 40px;
	}
	.subtitle{
		font-size: 22px;
		line-height: 140%;
		margin: 10px 0px 0px 0px;
	}
}
@media (max-width: 970px){
	.title{
		font-size: 31px;
	}
}


@import "frame.scss";
@import "banner1.scss";
@import "lineup2021.scss";
@import "done.scss";
@import "technologies.scss";
@import "video.scss";
@import "mikea1.scss";
@import "diversity.scss";
@import "timing.scss";
@import "details.scss";
@import "decision.scss";
@import "layout.scss";
@import "trifle.scss";
@import "rent.scss";
@import "smart.scss";
@import "alisa.scss";
@import "enjoy.scss";
@import "control.scss";
@import "appeal.scss";
@import "level.scss";
@import "projects.scss";
@import "orderframe.scss";
@import "mainform.scss";
@import "mortgage.scss";
@import "reviews.scss";
@import "button.scss";
@import "slider.scss";
@import "footer.scss";


//================================================================================>
