@import "null.scss";
@import "mixins.scss";

.level{
	padding: 42px 40px 55px 40px;
	margin: 0px 0px 70px 0px;
	&__title{
		line-height: 125%;
		margin: 40px 0px 0px 0px;
		max-width: 570px;
	}
	&__body{
		@include flexbox();
	}
	&__body-img{
		margin: 0px 40px 0px 0px;
	}
	&__body-text{
		@include font-style;
		font-size: 16px;
		line-height: 160.5%;
		font-weight: 400;
		color: #3D3D3D;
		margin: 35px 0px 0px 0px;
		padding: 0px 67px 0px 0px;
		max-width: 550px;
	}
	&__items{
		margin: 26px 0px 0px 0px;
		@include flexbox();
		flex-wrap: wrap;
		position: relative;
	}
	&__item{
		position: relative;
		max-width: 398px;
		height: 395px;
		margin: 30px 30px 0px 0px;
		&:nth-child(3n){
			margin: 30px 0px 0px 0px;
		}
		video{
			border-radius: 6px;
		}
	}
	&__item-title{
		@include font-style;
		font-weight: 600;
		font-size: 21px;
		line-height: 150%;
	}
	&__item-info{
		color: #FFFFFF;
		position: absolute;
		bottom: 30px;
		left: 30px;
		max-width: 309px;
	}
	&__item-text{
		@include font-style;
		font-weight: normal;
		font-size: 16px;
		line-height: 160.5%;
		margin: 10px 0px 0px 0px;
	}
	&__item-opaciti{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__item-popup{
		position: absolute;
		top: 40%;
		left: 45%;
	}
	}
