@import "null.scss";
@import "mixins.scss";

.mikea1{
	padding: 40px 0px 60px 35px;
	margin: 70px 0px 0px 0px;
	&__head{
		@include flexbox();
		align-items: center;
	}
	&__iframe{
		width: 615px;
		height: 382px;
		margin: 0px 110px 0px 0px;
	}
	iframe{
		border-radius: 6px;
	}
	&__head-info{
		margin: 0px 0px 0px 80px;
	}
	&__head-title{
		@include font-style;
		font-weight: 700;
		font-size: 50px;
		line-height: 125%;
		color: #3D3D3D;
		margin: 0px 0px 20px 0px;
	}
	&__head-subtitle{
		@include font-style;
		font-weight: 600;
		font-size: 21px;
		line-height: 150%;
		color: #696969;
		margin: 0px 0px 24px 0px;
	}
	&__items{
		margin: 20px 0px 0px 0px;
		@include flexbox();
		flex-wrap: wrap;
	}
	&__item{
		max-width: 308px;
		flex:0 1 25%;
		margin: 22px 15px 0px 0px;
		&:nth-child(4n) {
			margin: 22px 0px 0px 0px;
		 }
		 iframe{
			border-radius: 6px;
		}
	}
	&__item-text{
		margin: 20px 0px 0px 0px;
		@include font-style;
		font-weight: 400;
		font-size: 16px;
		line-height: 160.5%;
		color: #3D3D3D;
		width: 265px;
	}
	&__button{
		text-align: center;
		margin: 45px 0px 0px 0px;
	}
}

//==================================================>

